includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-deprecation-rules/rules.neon
parameters:
    level: max
    paths:
        - src
    ignoreErrors:
        - message: '#Parameter \#1 \$variables of class League\\Uri\\UriTemplate\\VariableBag constructor expects(.*)#'
          path: src/UriTemplate/VariableBagTest.php
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
