includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
parameters:
    ignoreErrors:
        - message: '#Method League\\Uri\\Uri::withPath\(\) has parameter \$path with no typehint specified\.#'
          path: src/Uri.php
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
