includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
parameters:
    ignoreErrors:
        - message: '#Return type \(League\\Uri\\Http\) of method League\\Uri\\Http::with(.*)\(\) should be covariant with return type \(static\(Psr\\Http\\Message\\UriInterface\)\) of method Psr\\Http\\Message\\UriInterface::with(.*)\(\)#'
          path: src/Http.php
        - message: '#Method League\\Uri\\Uri::withPath\(\) has parameter \$path with no typehint specified\.#'
          path: src/Uri.php
        - message: '#Variable method call on \$this\(League\\Uri\\Uri\)\.#'
          path: src/Uri.php
        - message: '#Instanceof between Psr\\Http\\Message\\UriInterface and Psr\\Http\\Message\\UriInterface will always evaluate to true\.#'
          path: src/Uri.php
        - message: '#Variable method call on League\\Uri\\Contracts\\UriInterface\|Psr\\Http\\Message\\UriInterface\.#'
          path: src/UriResolver.php
    reportUnmatchedIgnoredErrors: true
    checkMissingIterableValueType: false
